/* Variables and fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=PT+Sans&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&display=swap');

:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --p-color: rgba(39, 33, 66, 0.7);
    --hover-color: #f5f768;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --links-color: purple;
    --primary-font-family: 'Poppins';
    --heading-font-family: 'Playfair Display';
}

/* Common styles for all blocks */

body {
    margin: 60px auto;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    margin: 10px 0 10px 0;
}

.btn-branding {
    background-color: var(--primary-color);
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 31px;
}

.btn-branding:hover {
    color: var(--hover-color);
}
/* Homepage section */

.intro {
    margin: 160px 0;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.link {
    text-decoration: none;
    margin: 20px 0 40px 0;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.contact-link:hover {
    color: var(--hover-color);
}

.nav-link:hover {
    background-color: var(--hover-color);
}
.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.about-link:hover {
    background: var(--hover-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

/* .btn {
    background: var(--primary-color);
    box-shadow: 5px 3px 3px var(--primary-color);
    min-width: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
} */

/* .btn:hover {
    color: var(--hover-color);
    background: var(--primary-color);
} */

.heading-app {
    color: var(--primary-color);
    font-weight: bold;
}

.link-weather_app {
    text-decoration: none;
    color: white;
}

.link-weather_app:hover {
    color: var(--hover-color);
}

.footer:hover {
    background-color: var(--hover-color);
    opacity: 0.7;
    font-style: italic;
}

/* About me section */

.header-about {
    text-align: center;
    padding: 0;
}

.header-about h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
}

.header-about h2 {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.header-about p {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--p-color);
}

.about-section-content {
    margin: 30px;
}

.carousel {
    max-width: 900px;
    margin: 10px auto;
}

.photo {
    width: 400px;
    height: 350px;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.photo:hover img {
    transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 768px) {
    .header-name {
        margin: 2rem 0 2rem 0;
        font-size: 30px;
    }
    #contact h2,
    span {
        font-size: 1.4rem;
    }
    .header-about h1 {
        font-size: 1.9rem;
        line-height: 60px;
    }
    .header-home {
        margin: 8rem 0 2rem 0;
        font-size: 30px;
    }
    .contacts {
        margin-top: 8rem;
    }
    .intro {
        margin: 50px auto;
    }
    .link {
        font-size: 14px;
        line-height: 1.2;
    }
}
/* Contacts section */

.fa-instagram,
.fa-twitter,
.fa-telegram {
    color: var(--links-color);
    font-size: 36px;
}

.container-contact {
    background: url(images/bg-contact.jpg) no-repeat center center fixed;
    background-color: transparent;
    background-size: cover;
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.contact-links a {
    margin: 25px;
}

.navbar-brand {
    margin-right: 0;
}
