:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --hover-color: #f5f768;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --links-color: purple;
}

body {
    margin: 60px auto;
    max-width: 800px;
    background: var(--secondary-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

h1,
h2,
h3 {
    font-family: 'Roboto';
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    margin: 10px 0 10px 0;
    /* opacity: 0.7; */
}

.intro {
    margin: 160px 0;
}

p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.link {
    text-decoration: none;
    margin: 20px 0 40px 0;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.contact-link:hover {
    color: var(--hover-color);
}

.nav-link:hover {
    background-color: var(--hover-color);
}
.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.about-link:hover {
    background: var(--hover-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.btn {
    background: var(--primary-color);
    box-shadow: 5px 3px 3px var(--primary-color);
    min-width: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.btn:hover {
    color: var(--hover-color);
    background: var(--primary-color);
}

.heading-app {
    color: var(--primary-color);
    font-weight: bold;
}

.link-weather_app {
    text-decoration: none;
    color: white;
}

.link-weather_app:hover {
    color: var(--hover-color);
}

.footer:hover {
    background-color: var(--hover-color);
    opacity: 0.7;
    font-style: italic;
}

.header-about {
    margin-bottom: 50px;
}

.photo {
    width: 400px;
    height: 350px;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.photo:hover img {
    transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 768px) {
    .header-name {
        margin: 2rem 0 2rem 0;
        font-size: 30px;
    }
    #contact h2,
    span {
        font-size: 1.4rem;
    }
    .header-about h1 {
        margin: 5rem 0 2rem 0;
        font-size: 1.6rem;
    }
    .header-home {
        margin: 8rem 0 2rem 0;
        font-size: 30px;
    }
    .contacts {
        margin-top: 8rem;
    }
    .intro {
        margin: 50px auto;
    }
    .link {
        font-size: 14px;
        line-height: 1.2;
    }
}

.fa-instagram,
.fa-twitter,
.fa-telegram {
    color: var(--links-color);
    font-size: 36px;
}

.container-contact {
    background-image: url(images/bg-contact.jpg);
    background-color: transparent;
    background-size: cover;
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.contact-links a {
    margin: 25px;
}

.navbar-brand {
    margin-right: 0;
}
